html{background-color: turquoise;}

body{    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Big-div{
    background-color: white;
    width: 350px;
    height: 800px;
}

.playlist{
    display: flex;
    justify-content: space-around;
   margin-top:30px;
   margin-right: 115px;
   font-size: 20px;
   font-weight: bold;
}

.main{    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:22px;
    
}


.main__thumbnail{
    background-color: rgb(250, 184, 63);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid black;
    margin-right: 20px;

}

.big-x{font-size: 20px;}

.buttons{display: flex;
    justify-content:space-around;
    align-items: center;}

.buttons__square{
    background-color: white;
    width: 120px;
    height: 50px;
    border:3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin:20px 0;
}

.play{
    margin-right: 5px;
}

.song__item{display: flex;
margin: 30px;}

.song__text{margin-left:20px;
}

.buttons__one{
    background-color: white;
    width: 50px;
    height: 50px;
    border:3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.song__orange{background-color: rgba(255, 94, 0, 0.863);
width: 40px;
height: 40px;
border-radius:10px;
border:3px solid black;}


.song__pink{background-color: pink;
width: 40px;
height: 40px;
border-radius:10px;
border:3px solid black;}


.song__blue{background-color: rgb(51, 51, 224);
width: 40px;
height: 40px;
border-radius:10px;
border:3px solid black;}


.song__mint{background-color: rgb(56, 209, 132);
width: 40px;
height: 40px;
border-radius:10px;
border:3px solid black;}
